
/* Hero section */
.hero-banner {
    background-image: url("../images/hero-bg.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-banner > div {
    background-color: rgb(0 0 0 / 85%);
  }
  
  .hero-banner h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
  }
  
  .hero-banner p {
    font-size: 1.5rem;
    color: #fff;
  }